* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Custom Css */
.links__sideBar a {
  transition: all 0.3s;
}
div[role="presentation"]::-webkit-scrollbar-thumb {
  height: 14px;
  width: 20px;
  border-radius: 2px !important;
}
.cell {
  white-space: nowrap;
  flex-wrap: nowrap;
  word-wrap: none;
  text-wrap: nowrap;
  flex: 2;
}
.hv-icons {
  background-color: rgb(165, 165, 165);
  position: absolute;
  left: 1rem;
  display: none;
  font-size: 0.7rem;
  font-weight: 500;
}
.dsk {
  display: inline-flex;
}
.mobile {
  display: none;
}
.nDask {
  display: inline-flex;
}
.nMobNav {
  display: none;
}
.menu__ulLinks li {
  width: 100%;
}
.name-column--cell {
  flex: 1;
}
.link {
  width: 100%;
  display: inline-flex;
  margin-bottom: 1rem;
  padding: 0.6rem 0.6rem;
}
section {
  min-height: 100vh;
}
.sub_content {
  padding: 2rem 4%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(240px, 450px));
  width: 100%;
  row-gap: 1rem;
  place-content: space-evenly;
}
.grid-container > div {
  width: 95%;
  height: 114px;
}
.grid-container > div:nth-child(1) {
  background-color: #bfe5f670;
}
.grid-container > div:nth-child(3) {
  background-color: #bff6e5be;
}
.grid-container > div:nth-child(2) {
  background-color: #d0f6bfa7;
}

@media (max-width: 800px) {
  .w-800 {
    display: none;
  }
  .mobile {
    display: block;
  }
}
@media screen and (max-width: 828px) {
  .dsk {
    display: none;
  }
  .mobile {
    display: block;
  }
  .grid-container {
    place-content: center;
  }
}
@media screen and (max-width: 560px) {
  .dsk {
    display: none;
  }
  .mobile {
    display: none;
  }
  .nDask {
    display: none;
  }
  .nMobNav {
    display: inline-flex;
  }
  .grid-container {
    grid-template-columns: repeat(1, 90%);
  }
}

@media screen and (max-width: 748px) {
  .basis-flex {
    flex-basis: 90%;
  }
}
