* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
.headerMenu {
  display: none;
}

/* Custom Css */
.links__sideBar a {
  transition: all 0.3s;
}
div[role="presentation"]::-webkit-scrollbar-thumb {
  height: 14px;
  width: 20px;
  border-radius: 2px !important;
}
.cell {
  white-space: nowrap;
  flex-wrap: nowrap;
  word-wrap: none;
  text-wrap: nowrap;
  flex: 2;
}
.hv-icons {
  background-color: rgb(165, 165, 165);
  position: absolute;
  left: 1rem;
  display: none;
  font-size: 0.7rem;
  font-weight: 500;
}
.dsk {
  display: inline-flex;
}
.mobile {
  display: none;
}
.nDask {
  display: inline-flex;
}
.nMobNav {
  display: none;
}
.menu__ulLinks li {
  width: 100%;
}
.name-column--cell {
  flex: 1;
}
.link {
  width: 100%;
  display: inline-flex;
  margin-bottom: 1rem;
  padding: 0.6rem 0.6rem;
}
section {
  min-height: 100vh;
}
.sub_content {
  padding: 2rem 4%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 1rem;
  place-items: space-evenly;
  padding-bottom: 1rem;
  border-bottom: 2px ridge rgba(225, 225, 225, 0.105);
}
.grid-container > .card {
  width: 95%;
  margin: auto;
}
.grid-container > .card:nth-child(1) {
  background-color: #bfe5f670;
}
.grid-container > .card:nth-child(3) {
  background-color: hsla(1, 100%, 62%, 0.589);
}
.grid-container > .card:nth-child(2) {
  background-color: hsla(120, 100%, 83%, 0.657);
}
.grid-container > .card:nth-child(4) {
  background-color: hsla(11, 100%, 85%, 0.646);
}

.hNav {
  display: none;
}
@media (max-width: 800px) {
  .w-800 {
    display: none;
  }
  .mobile {
    display: block;
  }
}
@media screen and (max-width: 1101px) {
  .hNav {
    display: block;
  }
}

@media screen and (max-width: 828px) {
  .dsk {
    display: none;
  }
  .mobile {
    display: block;
  }
}
@media screen and (max-width: 968px) {
  .dsk {
    display: none;
  }
  .mobile {
    display: block;
  }
  .nDask {
    display: none;
  }
  .nMobNav {
    display: inline-flex;
  }
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  .con-flex {
    flex-direction: column;
    display: flex;
    width: 100%;
  }
  .historyCall {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    & div {
      flex: 1;
      width: 80%;
      margin: 2rem auto;
    }
  }
  .sec-all {
    width: 100%;
  }
}

@media screen and (max-width: 748px) {
  .basis-flex {
    flex-basis: 90%;
  }
  .hNav {
    display: none;
  }
  .headerMenu {
    display: flex;
  }
  .profileHeader {
    display: none;
  }
}
